
<mat-sidenav-container class="sncontainer" >
  <mat-sidenav #sidenav 
        mode="over" 
        [(opened)]="mostratMenu"
        position="end" 
        class="menuLateral" >
    <registro-usuario tipo="autenticar" ></registro-usuario>
    <mat-nav-list  *ngIf="su.estadoSesion=='Conectado'">
       <mat-list-item [routerLink]="['/pagos']"> Pagos</mat-list-item>
       <mat-list-item [routerLink]="['/inventario']"> Inventario</mat-list-item>
       <mat-list-item [routerLink]="['/detinventario']"> Detalle</mat-list-item>
    </mat-nav-list >
  </mat-sidenav>

  <mat-sidenav-content class="contenido">
    <mat-toolbar>
      <span>Monitoreo</span>
      <p><button mat-button (click)="sidenav.toggle()">Menú</button></p>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>