mat-sidenav-container, mat-sidenav-content{
	height: 100;
}

.sncontainer{
	position: absolute;
	top: 0;
	left: 0; 
	right: 0;
	bottom: 0;
}
.menuLateral{
	background-color: #66A5AD;
	width: 15%;
}
.contenido{
	padding: 5px;
	background-color: #C4DFE6;
}
